@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form name="myForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
    FirstName: <input type="text" name="fn">
    LastName: <input type="text" name="ln">
    EmailAdre:     <input type="text" name="email">
    EmailType:<select id="mySelect" name="emailT">
        <option>Business</option>
        <option>Personal</option>
    </select>
    <button type="button" id="buttonSubmit">Submit</button>
</form>

<table id="Details" class="minimalistBlack">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Email Type</th>
    </tr>
    @*<tbody>
            <tr id="id">
                <td class="id" contenteditable="true"> </td>
                <td class="fn" contenteditable="true"></td>
                <td class="ln" contenteditable="true"></td>
                <td class=" email" contenteditable="true"> </td>
                <td class="emailT" contenteditable="true"></td>
                <td><button type="button" id="buttonSubmit">Submit</button></td>
            </tr>
        </tbody>*@
</table>
